language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
gemfile:
  - Gemfile
  - gemfiles/rails_32.gemfile
  - gemfiles/rails_4.gemfile
matrix:
  exclude:
    - rvm: 1.9.3
      gemfile: gemfiles/rails_4.gemfile
notifications:
  email: false
